/* FONT FACES */
@font-face {
    font-family: Logo-font-up;
    src: url("./fonts/Handwind.ttf");
}

@font-face {
    font-family: Logo-font-low;
    src: url("./fonts/LibreFranklin-Black.ttf");
}

@font-face {
    font-family: LF-Normal;
    src: url("./fonts/LibreFranklin-Medium.ttf");
}

@font-face {
    font-family: LF-Bold;
    src: url("./fonts/LibreFranklin-Bold.ttf");
}

@font-face {
    font-family: Button-Font;
    src: url("./fonts/Aileron-Regular.otf");
    font-weight:600;
}

/* ROOT */
:root {
    --offwhite-y: #f3efd2;
    --offwhite-w: rgb(231, 231, 231);
    --yellow: #DBC75E;
    --black: rgb(22, 22, 22);
    --logo: #F0E7BA;
    --normal: 'LF-Normal', sans-serif;
    --bold: 'LF-Bold', sans-serif;
    --button: 'Button-Font', sans-serif;
}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
}

/* PARENT CONTAINER */
.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    background-image: url('./modules/assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* HEADER */
.header {
    background-color: rgba(22, 22, 22, 0.9);
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 24px;
}

.home,
.menu,
.contact {
    all: unset;
    font-size: 22px;
    color: white;
    cursor: pointer;
    font-family: var(--button);
    padding-bottom: 3px;
    transition: padding-bottom 0.3s;
}

.header button:not(.selected):hover {
    transition: padding-bottom 0.3s;
    padding-bottom: 12px;
}

.selected {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--yellow);
}

/* DISPLAY CONTAINER */
.display {
    background-color: rgba(22, 22, 22, 0.2);
    display: grid;
    place-items: center
}

.card, .card-home {
    height: 655px;
    width: 1120px;
    display: grid;
    border-radius:15px;
}
.card {
    background-color: rgba(231, 231, 231, 0.8);
}
.card-home {
    background-color: rgba(22, 22, 22, 0.8);
}

/* LOGO TYPOGRAPHY */
.logo-div {
    align-self: end;
    justify-self: center;
    font-size: 64px;
    border-bottom: 5px solid var(--yellow);
    border-radius:2px;
    width: fit-content;
    padding-right: 6px;
    padding-left: 6px;
}

.logo-upper {
    font-family: 'Logo-font-up', sans-serif;
    color: var(--yellow);
    text-align: center;
    margin-bottom: -42px;
    z-index: 3;
    position: relative;
    font-weight: bold;
}

.logo-lower {
    font-family: 'Logo-font-low', sans-serif;
    color: var(--logo);
    text-align: center;
    z-index: 2;
    position: relative;
}

/* HOME INFO */
.about-me {
    all:unset;
    color: var(--offwhite-y);
    place-self:center;
    font-size:22px;
    text-align:center;
    width:65vh;
    font-family:var(--normal);
}

/* INLINE MENU */
.inline-menu {
    justify-self:center;
    align-self:start;
    font-size:24px;
    width:98px;
    height:42px;
    font-family:var(--bold);
    color:white;
    background-color:var(--yellow);
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* MENU */
.menu-header {
    place-self: center;
    text-align: center;
    font-family: 'Logo-font-up', sans-serif;
    font-size: 84px;
    font-weight:500;
    color: var(--offwhite-y);
    background-color: rgba(22, 22, 22, 0.8);
    width: 230px;
    height: 110px;
    border-radius:15px;
}

.dish-list {
    display:grid;
    place-items:center;
    align-items:start;
}

.menu-card {
    display:grid;
    gap:16px;
}

.menu-card p {
    text-align:center;
}

.dish-title {
    font-size:28px;
    font-family:var(--bold);
    color:#222976;
}

.dish-desp {
    font-size:19px;
    font-family:var(--normal);
    color:var(--black);
}

.dish-price {
    font-size:21px;
    font-family:var(--normal);
    color:#320608;
}

#menu1, #menu2 {
    padding-bottom: 32px;
    border-bottom: 2px solid #9c6644;
}

/* CONTACTS */
.phone-number {
    font-family:var(--normal);
    font-size:21px;
    align-self:end;
    padding-left:24px;
}

.address {
    grid-row: 2 / 3;
    font-family:var(--normal);
    font-size:21px;
    padding-left:24px;
}

.map-img {
    width:620px;
    border-radius:10px;
    place-self:center;
    grid-row: 1 /3;
    grid-column:2 / 3;
}

/* FOOTER */
.footer {
    font-family: var(--normal);
    font-size: 18px;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.8);
    display: grid;
    place-items: center;
    color: var(--offwhite-w);
}

a {
    all: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-family: var(--bold);
    color: var(--offwhite-y);
    cursor: pointer;
}