/* FONT FACES */
@font-face {
    font-family: Logo-Font-up;
    src: url("./fonts/Aileron-Light.otf");
}

@font-face {
    font-family: Logo-font-low;
    src: url("./fonts/Quesha-gndR.ttf");
}

@font-face {
    font-family: LF-Normal;
    src: url("./fonts/LibreFranklin-Medium.ttf");
}

@font-face {
    font-family: LF-Bold;
    src: url("./fonts/LibreFranklin-Bold.ttf");
}

@font-face {
    font-family: Button-Font;
    src: url("./fonts/Aileron-Light.otf");
}

/* ROOT */
:root {
    --offwhite-y: #FCFBF3;
    --offwhite-w: #E7E7E7;
    --yellow: #DBC75E;
    --black: #161616;
    --logo: #F0E7BA;
    --normal: 'LF-Normal', sans-serif;
    --bold: 'LF-Bold', sans-serif;
    --button: 'Buttoni-Font', sans-serif;
}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
}